.artifact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.artifact-img65472 {
  top: -6px;
  left: 0px;
  width: 479px;
  height: 1009px;
  position: absolute;
}
.artifact-text {
  top: 192px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.artifact-text2 {
  left: 95px;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  bottom: 94px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.artifact-map1 {
  top: 20px;
  right: 15px;
  width: 40px;
  height: 50px;
  position: absolute;
}
.artifact-artifactorangecartooncontainervaseremovebgpreview1 {
  top: 391px;
  left: 117px;
  width: 241px;
  height: 310px;
  position: absolute;
}
.artifact-image11475302005 {
  top: 20px;
  right: 50px;
  width: 40px;
  height: 55px;
  position: absolute;
}
