.biodiversity-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.biodiversity-img65472 {
  top: 0px;
  left: 0px;
  width: 479px;
  height: 1006px;
  position: absolute;
}
.biodiversity-image12967961 {
  top: 411px;
  left: 110px;
  width: 275px;
  height: 175px;
  position: absolute;
}
.biodiversity-map2 {
  top: 20px;
  right: 15px;
  width: 40px;
  height: 50px;
  position: absolute;
}
.biodiversity-text {
  top: 108px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  width: 250px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.biodiversity-text1 {
  top: 669px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 200px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.biodiversity-image11475302002 {
  top: 20px;
  right: 50px;
  width: 40px;
  height: 55px;
  position: absolute;
}
