.bug-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.bug-img65472 {
  top: 0px;
  left: 0px;
  width: 479px;
  height: 1006px;
  position: absolute;
}
.bug-insectbugclipart2image21 {
  top: 474px;
  left: 124px;
  width: 242px;
  height: 197px;
  position: absolute;
}
.bug-text {
  top: 306px;
  left: 53px;
  color: rgb(0, 0, 0);
  width: 400px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bug-text1 {
  left: 166px;
  color: rgb(0, 0, 0);
  width: 130px;
  bottom: 106px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bug-map1 {
  top: 20px;
  right: 15px;
  width: 40px;
  height: 50px;
  position: absolute;
}
.bug-image11475302001 {
  top: 20px;
  right: 50px;
  width: 40px;
  height: 55px;
  position: absolute;
}
