.dinosaur-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dinosaur-img65472 {
  top: 0px;
  left: 0px;
  width: 477px;
  height: 1007px;
  position: absolute;
}
.dinosaur-dino1 {
  top: 424px;
  left: 100px;
  width: 264px;
  height: 236px;
  position: absolute;
}
.dinosaur-text {
  top: 223px;
  left: 153px;
  color: rgb(0, 0, 0);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dinosaur-text1 {
  top: 757px;
  left: 103px;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dinosaur-map1 {
  top: 20px;
  right: 15px;
  width: 40px;
  height: 50px;
  position: absolute;
}
.dinosaur-image11475302004 {
  top: 20px;
  right: 50px;
  width: 40px;
  height: 55px;
  position: absolute;
}
