.firstfloor-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.firstfloor-first-floor-bms81 {
  top: 131px;
  left: -1px;
  width: 475px;
  height: 871px;
  position: absolute;
}
.firstfloor-vector1 {
  top: 174px;
  right: 21px;
  width: 183px;
  height: 214px;
  position: absolute;
}
.firstfloor-image {
  width: 105px;
  height: 84px;
  object-fit: cover;
}
