.secondfloor-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.secondfloor-rectangle17 {
  top: 151px;
  left: 124px;
  width: 61px;
  height: 43px;
  position: absolute;
}
.secondfloor-second-floor-bms921 {
  top: 106px;
  left: 0px;
  width: 479px;
  height: 811px;
  position: absolute;
}
.secondfloor-image {
  width: 105px;
  height: 84px;
  object-fit: cover;
}
