.thirdfloor-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.thirdfloor-third-floor-bms81 {
  top: 108px;
  right: -5px;
  width: 479px;
  height: 856px;
  position: absolute;
}
.thirdfloor-image {
  width: 105px;
  height: 84px;
  object-fit: cover;
}
